#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1C1C1E;
  z-index: 9999;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

#modal-content {
  position: absolute;
  background-color: #1C1C1E;
  /* border: 4px solid #C0C0C0; */

}

.modal-background-image{
width: 100%;
height: 100%;
}
