
.submit-button-login:hover {
  background-color: rgba(52, 136, 52, 0.534);

}
.submit-button-login {
background-color: #919191;
color: white;
width: 50%;
justify-self: center;
align-self: center;
height: 30px;
font-size: 20px;
cursor: pointer;
border-radius: 15px;
}

.demo-log-in{
   display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 4px;
  background-color: #1C1C1E;
  text-decoration: none;
  color: #00CFFF;
  font-size: larger;
  border: none;
  border-radius: 0%;
  box-shadow: 0px 0px 0px #C0C0C0;
  cursor: pointer;


}
.loginzz h1{

color: white;
}
.loginzz{
  position: fixed;
  top: 5%;
  right: 5%;
  border: 2px solid #c0c0c033;
  border-radius: 15px;
  background-color: #00000028;
}
.demo-log-in:hover{
  background-color: #1C1C1E;
  text-decoration:underline;
  color: #00CFFF;
  font-size: larger;
  border: none;
  border-radius: 0%;
  box-shadow: 0px 0px 0px #C0C0C0;
  font-size: x-large;
}

.login-modal-words{
  display: flex;
  justify-content: center;
  color: #00CFFF;
}

.separate-line{
  border: 1px solid #00CFFF;
  margin-top: 4%;
}

.login-form {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    border-radius: 10px;
    color: white;

}

.label{
    display: flex;
    margin-bottom: 3%;
    justify-content: center;
    gap: 25px;
    padding: 10px;
    color: white;
}
